Repository luismacode/social-media-dashboard-with-theme-switcher-master: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, prettier --write, stylelint --cache --fix

husky ready
  .gitignore
  .husky/pre-commit
  .lintstagedrc
  .stylelintrc
  package.json
  pnpm-lock.yaml
Due: none

initial HTML structure
  css/main.css
  index.html
Due: prettier --write, stylelint --cache --fix

styles of main dashboard for mobile
  assets/css/main.css
  assets/fonts/font-inter.woff
  assets/fonts/font-inter.woff2
  assets/images/favicon-32x32.png
  assets/images/icon-down.svg
  assets/images/icon-facebook.svg
  assets/images/icon-instagram.svg
  assets/images/icon-twitter.svg
  assets/images/icon-up.svg
  assets/images/icon-youtube.svg
  css/main.css
  index.html
Due: prettier --write, stylelint --cache --fix

added styles overview section
  assets/css/main.css
  index.html
Due: prettier --write, stylelint --cache --fix

added ThemeSwitcher mobile
  assets/css/main.css
  index.html
Due: prettier --write, stylelint --cache --fix

theme dark mobile
  assets/css/main.css
  index.html
  src/main.js
Due: eslint --cache --fix, prettier --write, stylelint --cache --fix

responsive
  assets/css/main.css
  index.html
Due: prettier --write, stylelint --cache --fix

done social media dashboard
  assets/css/main.css
  index.html
Due: prettier --write, stylelint --cache --fix

update readme | added screenshots
  README.md
  assets/css/main.css
  screenshots/social-media-dashboard-theme-dark-desktop.jpeg
  screenshots/social-media-dashboard-theme-dark-mobile.jpeg
  screenshots/social-media-dashboard-theme-light-desktop.jpeg
  screenshots/social-media-dashboard-theme-light-mobile.jpeg
Due: prettier --write, stylelint --cache --fix

update readme | added links to challenge and live site
  README.md
Due: none

Path conditions:
  eslint --cache --fix: any of: *.js
  prettier --write: (any of: *.js) or (any of: *.css)
  stylelint --cache --fix: any of: *.css
